<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="WooCommerce Redis Cache">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./includes</directory>
            <file>./woocommerce-redis-cache.php</file>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
                <directory>./bin</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
